.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  padding: 10px 10px;
  background: rgb(183, 241, 192);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: end;
  z-index: 10;
}

.navbar h2 {
  color:rgba(54, 185, 104, 0.493);
  position: absolute;
  left: 25px;
}

.navbar button {
  border-color: rgb(17, 223, 38);
  background: white;
  min-width: 100px;
  margin-right: 20px;
  font-size: 14px;
  color: darkgreen;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.navbar button:hover {
  background: rgba(147, 240, 138, 0.941);
  font-size: 17px;
  color: white;
}